@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0B0D10;
  color: #FFFFFF;
}

#root {
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar hiding for the cinematic feel */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
